<div class = "search">
	<%= image_tag("search.svg", size: "40x40",id: "search_imag") %>
</div>

<div class = "footer">
  <p>
    © 2015<%= image_tag("QBlogo_black.png") %>
  </p>
</div>

<div class = "content">
	<%= render "products/form" %>
</div>





