.notice
{
	color: red;
  padding-left: 126px;
}

.ptype
{
  padding-left: 77px;
  padding-top: 43px;
  font-size: 17px;
}

.psubmt
{
  padding-left: 162px;
}

.type-btn
{
	padding-top: 19px;
  padding-left: 456px;
}

.notice
{
	color: green;
}

.type-submit
{
	color: white;
	background-color: #31988e;
  border: none;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 6px;
  padding-top: 6px;
  cursor: pointer;
}

.type-submit:hover
{
	background-color: #afafaf;
}

.type-field
{
  border: none;
  height: 32px;
  font-size: 15px;
}

.new-product
{
	padding-left: 83px;
  padding-top: 54px;
}
