.add-image
{
  position: absolute;
  width: 200px;
  height: 175px;
  left: 477px;
  top: 78px;
}  

.btn
{
	position: relative;
}

.inventory-list
{
	position: relative;
	left: 41px;
}


#asset_list {
  min-width: 100% !important;
  border-collapse: collapse;
}

.header_table {
  min-width: 100% !important;
  border-collapse: collapse;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  font-family: 'Open Sans', sans-serif;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.header_table th {
  padding: 9px;
  text-align: left;
  font-size: 20px;
  border-bottom: 1px solid #d7d7d7;
  color: #282828;
  background: #fff;
  width: 25%;
}

.asset_table
{
  display: block;
}

.content {
  max-width: 100% !important;
  padding: 2% 2% 0%;
  max-height: 100% !important;
}

.asset_list_body
{
  overflow: auto;
  max-height: 481px;
}

.asset_assign
{
  display: none;
}

.assign_table {
  border-top: 10px solid #b0bec5;
  border-bottom: 10px solid #b0bec5;
}

.asset_list_row
{
  display: table-row;
}

td {
  color: #282828;
  padding-left: 5px;
  background: #fff;
  width: 25%;
  border-top: 1px solid #d7d7d7;
}

.asset_img {
  float: left;
  padding: 10px;
}

.asset_fieldname {
  padding: 20px;
}

.arrow_div_down {
  cursor: pointer;
  float: right;
  width: 20px;
  height: 18px;
  padding-right: 15px;
}

.assign_image {
  padding-top: 4%;
  float: left;
  width: 20% !important;
  padding-bottom: 30px;
  padding-left: 30px;
}

.assign_image img {
  width: 95% !important;
  height: 275px !important;
}

.edit_asset {
  padding-left: 3%;
  width: 24% !important;
  float: left;
}

.edit_head{
  padding-top: 12%;
  font-size: 20px;
  border: none;
  background: transparent;
  color: #000000;
}

.edit_asset_input {
  font-size: 16px;
  border: none;
  background: transparent;
  color: #000000;
}

.arrow_div_up {
  transform: rotate(180deg);
  padding: 0% 1px 0% 1%;
  width: 20px;
  height: 0px;
  cursor: pointer;
  float: right;
  margin-right: -23%;
  margin-top: -33px;
}

#login_user {
  float: left;
  width: 100px;
  padding-left: 20px;
  color: #b0bec5;
  border: none;
  background: transparent;
}

#logout {
  width: 20px;
  height: 20px;
  padding-top: 4px;
  float: left;
  cursor: pointer;
}

.error
{
  color: red;
  padding-left: 126px;
}

.select_user
{
  padding-right: 113px;
  padding-left: 383px;
  padding-top: 129px;
}

.desc_img
{
  display: flex;
  padding-left: 115px;
  padding-top: 0px;
}

.sort_img img
{
  position: absolute;
  margin-top: -2px;
}

.desc_img img
{
  margin-top: -15px;

}

.desc_arrow
{
  margin-left: -8px;
}

.btn_td {
  float: right;
  padding-bottom: 14%;
  width: 12% !important;
  padding-top: 25px;
 padding-right: 142px;
}

.btn-green {
  width: 140%;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 35%;
  color: #fff;
  background-color: #31988e;
  border: none;
  cursor: pointer;
  padding-left: 15px;
  margin-top: 0px;
}

.btn-green1 {
  width: 140%;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 35%;
  color: #fff;
  background-color: #31988e;
  border: none;
  cursor: pointer;
  padding-left: 15px;
  margin-top: 0px;
}

.btn-green2 {
  width: 140%;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 35%;
  color: #fff;
  background-color: #31988e;
  border: none;
  cursor: pointer;
  padding-left: 15px;
  margin-top: 0px;
}
.btn-green:hover {
  background-color: #afafaf;
}

.btn-green1:hover {
  background-color: #afafaf;
}

.btn-green2:hover {
  background-color: #afafaf;
}

.btn-red {
  width: 140%;
  cursor: pointer;
  padding: 12px;
  color: #fff;
  background-color: #da5454;
  border: none;

}

.btn-red1
{
  width: 140%;
  cursor: pointer;
  padding: 12px;
  color: #fff;
  background-color: #da5454;
  border: none;

}

.btn-red1:hover {
  background-color: #afafaf;
}



.disable_btn {
  width: 140%;
  cursor: default;
  padding: 12px;
  color: #fff;
  background-color: #afafaf;
  border: none;
  margin-bottom: 35%;
  padding-left: 15px;
  margin-top: 0px;
}

.btn-red:hover {
  background-color: #afafaf;
}

.ui-helper-hidden-accessible{ display:none}

.search-asset {
  padding-left: 835px;
  margin-top: -69px;
  padding-bottom: 15px;
}

.user-state {
  position: relative;
  left: -290px;
  width: -11px;
  top: 157px;
}

.assign_datalist {
  vertical-align: top;
  width: 24% !important;
  padding-top: 4.3%;
  float: left;
  height: -1px;
  margin-top: -31px;
}

.input_datalist {
  font-size: 16px;
  padding: 4%;
  width: 80%;
}

.ui-accordion-content-active
{
  height: 455px;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
 
    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.noAsset_div {
  background: #fff;
  font-size: 20px;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

.select_code
{
  color: black;
  background-color: white;
  cursor: pointer;

}

.search_field
{
  background-color: #263238;
  border-bottom-color: black;
  border-color: #263238;
  color: white;
}

.search_btn
{
  background-color: #263238;
  color: white;
  border-color: #263238;
  cursor: pointer;
}

.pro-name
{
  height: 27px;
  border: none;
}

.image
{

}

.new-product
{
  padding-right: 42px;
}

