div.add-image
{
  position: absolute;
  width: 200px;
  height: 186px;
  left: 477px;
  top: 49px;
}  

div.btn
{
	position: relative;
}

div.inventory-list
{
	position: relative;
	left: 41px;
}

table
{
  text-align: auto;
  width: 100%;
}

td
{
  text-align: center;
}

tr
{
  border: 1px solid black;
  text-align: center;
  width: 100%;
}


div.asset-list
{
	position: relative;
  left: -69px;
}

.asset-view
{
  display: none;
}

